html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')    
        link(rel='stylesheet', href='css/line-notify.css')
        link(rel='stylesheet', href='//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        //-使用模板繼承
        block scripts
        //-網頁標題
        title 提醒事項 
    body
        block content